# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
./tape

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files from IDE
*.idea/
*.vscode/

e2e/Tape.log
# local dependency
vendor

tape
Tape.log