name: golangci-lint
on:
  pull_request:

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go mod download
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1
          skip-pkg-cache: true