name: release

on:
  workflow_run:
    workflows: ["Github workflow test"]
    types: [completed]
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-push-image:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@master
        with:
          registry: ghcr.io
          username: davidkhala
          password: ${{ secrets.TWGC_DAVIDKHALA }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@master
        with:
          images: ghcr.io/hyperledger-twgc/tape
          tags: |
            type=ref,event=tag
      - if: github.ref == 'refs/heads/master'
        name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/s390x
          push: true
          tags: ghcr.io/hyperledger-twgc/tape
          labels: ${{ steps.meta.outputs.labels }}
  build-and-release-binary:
    if: startsWith(github.event.ref, 'refs/tags/')
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - run: GOOS=$(go env GOOS) GOARCH=$(go env GOARCH) make tape
        shell: bash
      - run: cp tape tape-${{runner.os}}-${{runner.arch}}
      - name: Release
        uses: softprops/action-gh-release@master
        with:
          files: | 
            tape-${{runner.os}}-${{runner.arch}}
            config.yaml
