name: Functional Test
on:
  pull_request:
  push:
    branches: # pushing tags is also considered as a push. Exclude this here.
      - "*" 
  schedule:
    - cron: "0 0 * * 0" # https://crontab.guru/#0_0_*_*_0
jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: make tape
        name: build tape binary program
      - run: make install
        name: install tape to GOBIN
      - run: make unit-test
        name: run unit test
  #integration-test-1412:
  #  runs-on: ubuntu-latest
  #  needs: unit-test
  #  strategy:
  #    matrix:
  #      FABRIC_VERSION: [1_4]
  #      INTERGATION_CASE: [ANDLogic]
  #  steps:
  #    - uses: actions/checkout@v5
  #    - uses: actions/setup-go@v5
  #      with:
  #         go-version: 1.22
  #    - run: go mod vendor
  #    - run: make integration-test FABRIC_VERSION=${{matrix.FABRIC_VERSION}} INTERGATION_CASE=${{matrix.INTERGATION_CASE}}
  integration-test:
    runs-on: ubuntu-latest
    needs: unit-test
    strategy:
      matrix:
        FABRIC_VERSION: [2_5]
        INTERGATION_CASE: [ORLogic, ANDLogic, COMMITONLY, ENDORSEMNTONLY]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: go mod vendor
      - run: make integration-test FABRIC_VERSION=${{matrix.FABRIC_VERSION}} INTERGATION_CASE=${{matrix.INTERGATION_CASE}}
  integration-test-30:
    runs-on: ubuntu-latest
    needs: unit-test
    strategy:
      matrix:
        FABRIC_VERSION: [3_0]
        INTERGATION_CASE: [ANDLogic]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - run: go mod vendor
      - run: make integration-test FABRIC_VERSION=${{matrix.FABRIC_VERSION}} INTERGATION_CASE=${{matrix.INTERGATION_CASE}}